<div ng-controller="homeTcdz5Ctrl">
    <div class="y-title">
        <span>定金支付</span>
        <div class="y-back" ng-click="goBack()"></div>
    </div>
    <div class="scroll-content">
        <div class="y-hospital-items y-gxh y-g-question y-g-question-done">
            <div class="y-g-title">服务信息：个性化体检定制</div>
            <div class="y-g-list">
                <div class="y-g-item">就诊人：代用名</div>
                <div class="y-g-item">体检中心：待定制</div>
                <div class="y-g-item">门店：待定制</div>
                <div class="y-g-item">体检日期：待定制</div>
            </div>
            <!--<div class="y-g-wj">
                <span>查看问卷</span>
                <span></span>
            </div>-->
            <div class="y-g-msg">
                <div class="y-g-m-title y-border-2">支付信息</div>
                <div class="y-g-m-pay y-border-2">
                    <span>订单定金</span>
                    <span>￥{{deposit}}</span>
                </div>
                <div class="y-g-m-pay">
                    <span>买付定金</span>
                    <span>￥{{deposit}}</span>
                </div>
            </div>

        </div>
    </div>
    <div class="y-mz-ok" style="position: fixed;bottom: 0;">
        <span>合计：￥{{sum_price}}</span>
        <span ng-click="goPay()">立即支付</span>
    </div>
</div>

