<!--个性化定制详情-->
<div ng-controller="serveDetail4YfkCtrl">
    <div class="y-title">
        <span>定金支付</span>
        <div class="y-back" ng-click="goBack()"></div>
    </div>
    <div class="scroll-content">
        <div class="y-hospital-items y-gxh y-g-question y-g-question-done y-serve-xq">
            <div class="y-g-title">服务信息：个性化体检定制</div>
            <div class="y-g-list">
                <div class="y-g-item">就诊人：代用名</div>
                <div class="y-g-item">体检中心：带定制</div>
                <div class="y-g-item">门店：带定制</div>
                <div class="y-g-item">体检日期：带定制</div>
            </div>
            <!--<div class="y-g-wj">
                <span>查看问卷</span>
                <span></span>
            </div>-->
            <div class="y-g-msg">
                <div class="y-g-m-title">支付信息</div>
                <div class="y-g-m-pay">
                    <span>订单定金</span>
                    <span>￥{{item.deposit}}</span>
                </div>
                <div class="y-g-m-pay">
                    <span>买付定金</span>
                    <span>￥{{item.deposit}}</span>
                </div>
            </div>
            <div class="y-xq-dzf">
                <div class="y-xq-txt">已支付：￥{{item.sum_price}}</div>
                <div class="y-zf-change">
                    <div class="y-xq-qzf" ng-click="showChangeXq(true)">申请退款</div>
                    <div class="change-change" ui-sref="choose-data({dateFlag:'yes',yfkId:item.id})" ng-show="item.status==1">变更体检时间</div>
                    <div class="change-change" ng-show="item.status==2">已修改体检时间</div>
                </div>
            </div>
        </div>
    </div>
    <div class="y-mask" ng-class="xQIsShow==true?'active':''"></div>
    <div class="y-xq-cancel" ng-class="xQIsShow==true?'active':''">
        <div class="y-xq-title">是否申请退款</div>
        <div class="y-xq-choose">
            <span ng-click="showChangeXq(false)">取消</span>
            <span ng-click="orderDel()">确定</span>
        </div>
    </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-full-width', 'close-button':true,'limit':1}"></toaster-container>