<div class="y-title" ng-controller="evaluateCtrl">
    <span>评价</span>
    <div class="y-back" ng-click="goBack()"></div>
    <div class="scroll-content" style="position: relative;top: 0;margin-top: 0">
        <div class="y-pj">
            <div class="y-pj-con">
                <div class="y-title1">感谢您对我们工作的支持请对我们的服务作出评价</div>
                <div class="y-star">
                    <div class="y-star-name">
                        <span>商品评价</span>
                        <span>客服评价</span>
                        <span>体检中心评价</span>
                        <span>现场服务评价</span>
                        <span>用户服务评价</span>
                    </div>
                    <div class="y-star-count">
                <span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </span>
                        <span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </span>
                        <span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </span>
                        <span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </span>
                        <span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </span>
                    </div>
                </div>
            </div>
            <button ng-click="goYwc()">提交评价</button>
        </div>
    </div>
</div>