/*@function px2rem($px){
	@return $px*8/375 + rem;
}*/
/*@mixin sefFont($px){
	font-size: $px+px ;
	[data-dpr="2"] &{
		font-size: 2*$px+px;
	}
	[data-dpr="3"] &{
		font-size: 3*$px+px;
	}
}*/
.b-font-12 {
  font-size: 0.6rem; }

.b-font-13 {
  font-size: 0.65rem; }

.b-font-14 {
  font-size: 0.7rem; }

.b-font-15 {
  font-size: 0.75rem; }

.b-font-16 {
  font-size: 0.8rem; }

.b-font-17 {
  font-size: 0.85rem; }

.b-font-18 {
  font-size: 0.9rem; }

.b-content {
  width: 100vw; }

.b-footer {
  width: 100vw;
  height: 2.45rem;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fcfcfc;
  display: flex; }
  .b-footer .b-item {
    height: 100%;
    flex: 1;
    text-align: center; }
    .b-footer .b-item .b-icon {
      display: inline-block;
      width: 1.1rem;
      height: 1rem;
      margin-top: 0.25rem; }
      .b-footer .b-item .b-icon img {
        height: 100%; }
    .b-footer .b-item p {
      color: #9b9b9b;
      font-size: 0.6rem;
      line-height: 0.975rem; }
  .b-footer .b-item.ac p {
    color: #58c0cd; }

.scroll-content {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1px;
  width: auto;
  height: auto;
  overflow: scroll;
  margin-top: 1.65rem; }
  .scroll-content.tjzx-content {
    margin-top: 0rem;
    padding-bottom: 2.5rem; }
  .scroll-content.has-nav {
    padding-top: 2.5rem; }
  .scroll-content.overflowDiv {
    height: calc( 100vh - 5.1rem ); }

.scroll-content .has-b-footer {
  padding-top: 0.5rem;
  background-color: #fff;
  bottom: 2.45rem; }

pie-radio,
pie-checkbox1,
pie-checkbox2,
pie-checkbox3 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 998;
  transition: all 0.5s;
  display: none; }
  pie-radio.active,
  pie-checkbox1.active,
  pie-checkbox2.active,
  pie-checkbox3.active {
    display: block; }
  pie-radio .pie-radio-inner,
  pie-checkbox1 .pie-radio-inner,
  pie-checkbox2 .pie-radio-inner,
  pie-checkbox3 .pie-radio-inner {
    position: fixed;
    width: 15rem;
    height: auto;
    padding-bottom: 2.25rem;
    background-color: #fff;
    border-radius: 0.2rem;
    top: 50%;
    margin-top: -7.875rem;
    left: 50%;
    margin-left: -7.5rem;
    transform: scale(0);
    transition: all 0.5s; }
    pie-radio .pie-radio-inner.active,
    pie-checkbox1 .pie-radio-inner.active,
    pie-checkbox2 .pie-radio-inner.active,
    pie-checkbox3 .pie-radio-inner.active {
      transform: scale(1);
      transition: all 0.5s; }
    pie-radio .pie-radio-inner ul li,
    pie-checkbox1 .pie-radio-inner ul li,
    pie-checkbox2 .pie-radio-inner ul li,
    pie-checkbox3 .pie-radio-inner ul li {
      padding-left: 4.75rem;
      height: 1.5rem;
      font-size: 0.7rem;
      line-height: 1.5rem; }
      pie-radio .pie-radio-inner ul li:nth-child(1),
      pie-checkbox1 .pie-radio-inner ul li:nth-child(1),
      pie-checkbox2 .pie-radio-inner ul li:nth-child(1),
      pie-checkbox3 .pie-radio-inner ul li:nth-child(1) {
        margin-top: 0.5rem; }
      pie-radio .pie-radio-inner ul li span,
      pie-checkbox1 .pie-radio-inner ul li span,
      pie-checkbox2 .pie-radio-inner ul li span,
      pie-checkbox3 .pie-radio-inner ul li span {
        padding-left: 1rem;
        background: url("../img/home/uncircle.png") no-repeat center left;
        background-size: 0.75rem 0.75rem; }
        pie-radio .pie-radio-inner ul li span.active,
        pie-checkbox1 .pie-radio-inner ul li span.active,
        pie-checkbox2 .pie-radio-inner ul li span.active,
        pie-checkbox3 .pie-radio-inner ul li span.active {
          background: url("../img/home/circle.png") no-repeat center left;
          background-size: 0.75rem 0.75rem; }
    pie-radio .pie-radio-inner ul.checkbox span,
    pie-checkbox1 .pie-radio-inner ul.checkbox span,
    pie-checkbox2 .pie-radio-inner ul.checkbox span,
    pie-checkbox3 .pie-radio-inner ul.checkbox span {
      background: url("../img/home/unsqu.png") no-repeat center left;
      background-size: 0.75rem 0.75rem; }
      pie-radio .pie-radio-inner ul.checkbox span.active,
      pie-checkbox1 .pie-radio-inner ul.checkbox span.active,
      pie-checkbox2 .pie-radio-inner ul.checkbox span.active,
      pie-checkbox3 .pie-radio-inner ul.checkbox span.active {
        background: url("../img/home/squ.png") no-repeat center left;
        background-size: 0.75rem 0.75rem; }
    pie-radio .pie-radio-inner .pie-radio-bot,
    pie-checkbox1 .pie-radio-inner .pie-radio-bot,
    pie-checkbox2 .pie-radio-inner .pie-radio-bot,
    pie-checkbox3 .pie-radio-inner .pie-radio-bot {
      position: absolute;
      height: 2.25rem;
      width: 100%;
      left: 0;
      bottom: 0;
      display: flex; }
      pie-radio .pie-radio-inner .pie-radio-bot span,
      pie-checkbox1 .pie-radio-inner .pie-radio-bot span,
      pie-checkbox2 .pie-radio-inner .pie-radio-bot span,
      pie-checkbox3 .pie-radio-inner .pie-radio-bot span {
        flex: 1;
        height: 2.25rem;
        line-height: 2.25rem;
        text-align: center;
        font-size: 0.7rem; }
      pie-radio .pie-radio-inner .pie-radio-bot span:nth-child(1),
      pie-checkbox1 .pie-radio-inner .pie-radio-bot span:nth-child(1),
      pie-checkbox2 .pie-radio-inner .pie-radio-bot span:nth-child(1),
      pie-checkbox3 .pie-radio-inner .pie-radio-bot span:nth-child(1) {
        background-color: #e9e9e9;
        color: #9b9b9b; }
      pie-radio .pie-radio-inner .pie-radio-bot span:nth-child(2),
      pie-checkbox1 .pie-radio-inner .pie-radio-bot span:nth-child(2),
      pie-checkbox2 .pie-radio-inner .pie-radio-bot span:nth-child(2),
      pie-checkbox3 .pie-radio-inner .pie-radio-bot span:nth-child(2) {
        background-color: #58c0cd;
        color: #fff; }

.pie-city {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }
  .pie-city .inner {
    width: 100vw;
    height: 12.5rem;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999; }
    .pie-city .inner .top {
      height: 1.7rem;
      padding-top: 0.25rem;
      line-height: 1.45rem; }
      .pie-city .inner .top span {
        font-size: 0.75rem;
        height: 100%;
        display: inline-block;
        padding: 0 0.75rem; }
        .pie-city .inner .top span.left {
          float: left;
          color: #7f7f7f; }
        .pie-city .inner .top span.right {
          float: right;
          color: #333; }
    .pie-city .inner .content {
      height: 10.55rem;
      font-size: 0;
      position: relative; }
      .pie-city .inner .content .pie-content {
        width: 6.25rem;
        height: 10.55rem;
        position: relative;
        display: inline-block;
        vertical-align: top; }
        .pie-city .inner .content .pie-content ul {
          width: 100%;
          box-sizing: border-box;
          overflow-y: scroll;
          height: 100%; }
          .pie-city .inner .content .pie-content ul#pickP {
            text-align: right;
            padding-right: 0.75rem; }
          .pie-city .inner .content .pie-content ul#pickC {
            text-align: center; }
          .pie-city .inner .content .pie-content ul#pickD {
            text-align: left;
            padding-left: 0.75rem; }
          .pie-city .inner .content .pie-content ul .pie-item {
            font-size: 0.7rem;
            line-height: 1.5rem;
            min-height: 1.5rem;
            color: #7f7f7f;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
            .pie-city .inner .content .pie-content ul .pie-item.ac {
              color: #333;
              /*line-height: px2rem(120);
              height: px2rem(120);*/ }
      .pie-city .inner .content #line {
        /*width: 100%;
        height: px2rem(100);
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        position: absolute;
        left:0;
        top:px2rem(130)*/
        width: 100%;
        height: 1.5rem;
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        position: absolute;
        left: 0;
        top: 3rem; }

pie-calendar .pie-inner {
  width: 18.75rem;
  background: #fff; }
  pie-calendar .pie-inner .pie-top {
    height: 5.25rem; }
    pie-calendar .pie-inner .pie-top .pie-main {
      box-sizing: border-box;
      padding: 0 1rem;
      height: 3.75rem;
      line-height: 3.75rem;
      font-size: 0.7rem;
      text-align: center; }
      pie-calendar .pie-inner .pie-top .pie-main .pie-yy, pie-calendar .pie-inner .pie-top .pie-main .pie-mm {
        float: left; }
        pie-calendar .pie-inner .pie-top .pie-main .pie-yy .pie-title, pie-calendar .pie-inner .pie-top .pie-main .pie-mm .pie-title {
          display: inline-block;
          padding: 0 1.5rem;
          position: relative; }
          pie-calendar .pie-inner .pie-top .pie-main .pie-yy .pie-title .pic, pie-calendar .pie-inner .pie-top .pie-main .pie-mm .pie-title .pic {
            display: block;
            width: 0.4rem;
            position: absolute;
            top: 0; }
            pie-calendar .pie-inner .pie-top .pie-main .pie-yy .pie-title .pic img, pie-calendar .pie-inner .pie-top .pie-main .pie-mm .pie-title .pic img {
              width: 100%; }
            pie-calendar .pie-inner .pie-top .pie-main .pie-yy .pie-title .pic:nth-child(1), pie-calendar .pie-inner .pie-top .pie-main .pie-mm .pie-title .pic:nth-child(1) {
              left: 0; }
            pie-calendar .pie-inner .pie-top .pie-main .pie-yy .pie-title .pic:nth-child(2), pie-calendar .pie-inner .pie-top .pie-main .pie-mm .pie-title .pic:nth-child(2) {
              right: 0; }
      pie-calendar .pie-inner .pie-top .pie-main .pie-mm {
        float: right; }
      pie-calendar .pie-inner .pie-top .pie-main .pie-time {
        display: inline-block;
        color: #58c0cd; }
    pie-calendar .pie-inner .pie-top .pie-week {
      width: 15.75rem;
      margin: 0 auto;
      height: 1.5rem;
      line-height: 1.5rem; }
      pie-calendar .pie-inner .pie-top .pie-week li {
        float: left;
        width: 2.25rem;
        text-align: center; }
  pie-calendar .pie-inner .pie-day {
    overflow: hidden;
    width: 15.75rem;
    margin: 0 auto; }
    pie-calendar .pie-inner .pie-day li {
      width: 2.25rem;
      height: 2rem;
      float: left;
      text-align: center;
      box-sizing: border-box; }
      pie-calendar .pie-inner .pie-day li .inner {
        width: 1.375rem;
        height: 1.375rem;
        line-height: 1.375rem;
        margin: 0.3rem auto; }
      pie-calendar .pie-inner .pie-day li.not .inner {
        color: #9b9b9b; }
      pie-calendar .pie-inner .pie-day li.ac .inner {
        background: #58c0cd;
        border-radius: 50%;
        color: #fff; }
      pie-calendar .pie-inner .pie-day li.today .inner {
        position: relative; }
        pie-calendar .pie-inner .pie-day li.today .inner:before {
          content: '';
          width: 0.25rem;
          height: 0.25rem;
          background: #58c0cd;
          border-radius: 50%;
          position: absolute;
          left: 0.55rem;
          bottom: 0.125rem; }

.pie-has-title {
  margin-top: 3.65rem; }
  .pie-has-title.has-healthy-nav {
    padding-top: 2.5rem; }

input,
textarea {
  border: none;
  outline: none; }

p,
ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

/*# sourceMappingURL=style-pie.css.map */
